## Pre-set

In [ ]:
import pyodbc
import pandas as pd

## Set up the parameters for ODBC connection

In [6]:
host = 'dremio'
port = 31010
uid = 'admin'
pwd = 'admin123'
driver = "/opt/dremio-odbc/lib64/libdrillodbc_sb64.so"

## Build the connection string

In [7]:
cnxn=pyodbc.connect("Driver={};ConnectionType=Direct;HOST={};PORT={};AuthenticationType=Plain;UID={};PWD={}".format(driver,host,port,uid,pwd),autocommit=True)

##  Execute the SQL query and print the results

In [12]:
sql = 'select * from **name_of_space_in_dremio**.**name_of_table** limit 5'
df = pd.read_sql(sql, cnxn)
df.head()

,pickup_datetime,passenger_count,trip_distance_mi,fare_amount,tip_amount,total_amount
0,2013-05-27 19:15:00,1,1.26,7.5,0.0,8.00
1,2013-05-31 16:40:00,1,0.73,5.0,1.2,7.70
2,2013-05-27 19:03:00,2,9.23,27.5,5.0,38.33
3,2013-05-31 16:24:00,1,2.27,12.0,0.0,13.50
4,2013-05-27 19:17:00,1,0.71,5.0,0.0,5.50

*Reference: https://www.dremio.com/tutorials/python-dremio-and-kubernetes/*